@import url("global.css");

.select-filmes {
    display: flex;
}

.select-filmes p {
    color: var(--text-color);
    font-weight: bold;
    margin: 1vh;
    font-family: "Kadwa-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    height: 23px;
    margin-left: 20px;
}

.select-filmes select
{
    background-color: var(--shape-transparency);
    border: 1px solid var(--details);
    color: var(--text-color);
    padding: 1rem;
}
.select-filmes select option
{
    background-color: var(--shape-transparency);
}

.categoria
{
    margin-top: 18vh;
}
.categoria h1
{
    color: var(--text-color);
    font-weight: bold;
    margin: 1vh;
    font-family: "Kadwa-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.filmes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 10vh;
}

.card-filme {
    background: var(--shape-transparency);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
}

.card-filme img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.card-filme:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
