@import url('global.css');

/* Barra de navegação */
.navbar {
    width: 100%;
    background: var(--nav-bar-color);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    border-bottom: 2px solid var(--details);
}